<div class="display-container">
    <div class="submit-container">
        <h2>{{costs.name}}</h2>
        <add-costs-form (addCostEvent)="addCost($event)"></add-costs-form>
    </div>
    <br />
    <div class="title-container">
        <p><span style="font-weight: bold;">Total:</span> {{costs.total | currency}}</p>
    </div>
    <div class="cost-list">
        <mat-chip-list>
            <mat-chip selected [color]="(item < 100) ? 'primary': ((item < 1000) ? 'accent' : 'warn')" class="cost-text"
                *ngFor="let item of costs.paidCosts">{{item | currency}}</mat-chip>
        </mat-chip-list>
    </div>
    <br />
</div>